header {
  display: flex;
  align-items: center;
  padding: 10px;
}
.logo {
  max-height: 150px; /* Ajusta esto según el tamaño deseado para tu logo */
  margin-right: 150px; /* Añade margen a la derecha del logo */
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  max-height: 700px; /* Establece la altura máxima del slider */
  filter: brightness(60%);
}
.d-block {
  position: relative;
  width: 100%;
  height: 100%; /* Asegura que la imagen ocupa el 100% de la altura del contenedor */
  z-index: 1;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain; /* Asegura que la imagen se ajuste al contenedor sin cortarse */
  transform: translateY(-30%); /* Mueve la imagen hacia arriba */
}
@font-face {
  font-family: 'zooFont';
  src: url('/static/font/FingerZoo.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
.menu {
  position: absolute;
  z-index: 2;
  width: 100%;
  color: rgb(255, 255, 255);
}
#navbar-item--zoo{
  font-family: 'zooFont';
  text-decoration: none;
  line-height: 1;
  font-size: 50px;
}
.navBar--Buttons{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: flex-end;
}
.nav-item{
  display: flex;
  width: 65px;
  list-style: none;
}
.navbar-item{
  list-style: none;
  color: aliceblue;
}
#navbarText{
  display: flex;
  justify-content: right;
  align-content: center;
  height: 100px;
  font-size: 14px;
  font-weight: bolder;
}
.slider {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.slider-word {
  margin: 0 10px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}
.slider-word.active {
  font-weight: bold;
}
.gallery {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
} 
.gallery.active {
  opacity: 1;
  max-height: 100vh; 
} 
.middleNavBar-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #606C38;
  padding: 10px;
}

.middleNavBar-item {
  color: white;
  background-color:#606C38;
  text-decoration: none;
  padding: 5px 10px;
}

.middleNavBar-separator {
  border-left: 1px solid #fff;
  margin: 0 10px;
  height: 3em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}
.card {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}
.card-img-top {
  width: 100%;
  height: auto;
}
.card-body {
  padding: 1rem;
}
.blockquote-footer{
  border-top-width: 10px;
  border-right-width: 1em;
  border-bottom-width: thick;
  border-left-width: thin;
}
.news-block {
  display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border: 1px solid #ddd;
	padding: 10px;
	max-width: 25%;
  height: 250px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
  transform: translate(-100px, 50px);
}

.news-block--date {
  font-size: 12px;
	color: #888;
  margin-top: 60px;
	margin-bottom: 10px;
  margin-right: 300px;
}

.news-block--title {
  font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
  margin-right: 260px;
}

.news-block--description {
  font-size: 16px;
	color: #555;
	text-align: justify;
}

.news-calendar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.news-block {
  flex: 1;
}

.google-calendar {
  flex: 1;
  max-width: 500px; 
  margin-right: 600px; 
}

.google-calendar iframe {
  width: 100%;
  height: 450px; 
}
.search-form {
  position: relative;
  right: 20px; 
  top: -10px; 
}
.search-input {
  width: 450px; 
}
.search-btn {
  background-color: white;
  color: #333; 
  border-color: white; 
}
.search-btn:hover {
  background-color: #f8f9fa; 
  border-color: #f8f9fa; 
}