/* Estilo para el contenedor principal de los resultados de búsqueda */
.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }
  
  /* Estilo para cada tarjeta de resultado de búsqueda */
  .result-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .result-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .result-card h3 {
    margin-bottom: 10px;
  }
  
  .result-card p {
    text-align: center;
  }