<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% block aboutUS %}
<div id="linkToAboutSection" class="about-section about-us-container flex-grow">
  <h2>About Us</h2>
  <p>Founded in 2023, Alfred's Zoo has been dedicated to inspiring a lifelong appreciation of wildlife and
    conservation through our captivating exhibits, educational programs, and ongoing research initiatives. We
    strive to create a fun, engaging, and safe environment where our visitors can come face to face with a variety
    of fascinating animal species from all around the globe.</p>
  <p>Our mission is to connect people with nature and instill in them a deep respect and care for the natural
    world. We're committed to animal welfare and conservation, and we actively participate in global efforts to
    protect endangered species.</p>
  <p>Join us for an unforgettable adventure as we explore the wonders of the animal kingdom together!</p>
</div>
{% endblock %}