<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% block fundraise %}
<div id="linkToFundraise" class="grid-container--fundraiseBlockLinks" style="margin-left: 12%;">
    <div class="blockquote-wrapper">
      <div class="blockquote">
        <h1>
          <span style="color: #DDA15E;">greatness of a nation and its</span> <span style="color: #606C38;"> moral progress
            can be judged </span> <span style="color: #DDA15E;">by the way its animals are <span
              style="color: #606C38;">treated</span></span>
        </h1>
        <h4>&mdash;Mahatma Gandhi</h4>
      </div>
    </div>
    <div class="fundraise-boxes--containerDimensions" style="margin-right: 50%; margin-top: 10%;">
      <a target="_blank" href="https://www.chesterzoo.org/what-you-can-do/fundraising/">
        <img src="{{url_for('static', filename='/images/fundRaising.webp')}}" alt="Imagen 1">
        <div class="corner">
          <p>Fundraise</p>
        </div>
      </a>
    </div>
    <div class="fundraise-boxes--containerDimensions">
      <a target="_blank" href="{{ url_for('home') }}">
        <img src="{{url_for('static', filename='/images/donations.jpg')}}" alt="Imagen 2">
        <div class="corner">
          <p>Donations</p>
        </div>
      </a>
    </div>
    <div class="fundraise-boxes--containerDimensions" style="margin-right: 50%;">
      <a target="_blank" href="https://www.staf.org/">
        <img src="{{url_for('static', filename='/images/saveThem.jpg')}}" alt="Imagen 3">
        <div class="corner">
          <p>Save Them</p>
        </div>
      </a>
    </div>
  </div>
{% endblock %}
