{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div id="message" class="alert" style="display: none;"></div>

<input type="hidden" id="signupUrl" value="{{ url_for('signup') }}">
<input type="hidden" id="loginUrl" value="{{ url_for('login') }}">

<div class="menu">
  <nav class="navbar navbar-expand-lg ">
    <div class="container">
      <header>
        <img class="logo" src="{{url_for('static', filename='/images/Logo/Logo.png')}}">
      </header>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navBar--Buttons">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#linkToAboutSection">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#linkToAboutSection">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-left: 50%;" onclick="toggleLoginForm()">
            {% if session['username'] %}
            {{ session['username'] }}
            {% else %}
            Log In/Sign up
            {% endif %}
          </a>
          <img class="nav-link login-icon" src="{{url_for('static', filename='/images/icons/login-icon.png')}}">
          {% if session['username'] %}
          <a href="{{ url_for('logout') }}"><img class="nav-link login-icon"
              src="{{url_for('static', filename='/images/icons/SignOut-Icon.png')}}"></a>
          {% endif %}
          <div class="login-form" id="loginFormContainer" style="display:none;">
            <form id="loginForm" action="{{ url_for('login') }}" method="post" data-signup-url="{{ url_for('signup') }}"
              data-login-url="{{ url_for('login') }}">

              <div id="userNameContainer" style="display:none;">
                <input type="text" id="userNameInput" name="userName" placeholder="Username" required>
              </div>
              <input type="email" name="email" placeholder="Email" required>
              <input type="password" name="password" placeholder="Password" required>
              <div id="confirmPasswordContainer"></div>
              <button type="submit">Log In</button>
              <button type="button" id="toggleButton" onclick="toggleSignupForm()">Sign Up</button>
            </form>
          </div>
        </li>

      </ul>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    </div>
</div>
</nav>
</div>

<!-- src="{{url_for('static', filename='/images/homeGiraffe.jpg')}}" -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block">
        <img src="{{url_for('static', filename='/images/homeGalapagos.jpg')}}" class="w-100" alt="...">
        <div class="carousel-caption">
          <h5>Come and have some fun with Seamus the seal!</h5>
          <p>Come witness the wonder of Seamus and his seal pals at our new seal attraction!</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block">
        <img src="{{url_for('static', filename='/images/homeLeon.jpg')}}" class="w-100" alt="...">
        <div class="carousel-caption">
          <h5>lorem ipsum</h5>
          <p>lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block">
        <img src="{{url_for('static', filename='/images/homeTiger.jpg')}}" class="w-100" alt="...">
        <div class="carousel-caption">
          <h5>lorem ipsum</h5>
          <p>lorem ipsum</p>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="middleNavBar-block">
  <a href="#linkToSearchBar"><span class="middleNavBar-item" style="text-decoration: none;">Animals</span></a>
  <span class="middleNavBar-separator"></span>
  <a href="#"><span class="middleNavBar-item">Activities</span></a>
  <span class="middleNavBar-separator"></span>
  <a href="#linkToMapSection"><span class="middleNavBar-item">Map</span></a>
</div>


<div class="news-calendar-container">
  <div class="news-block">
    <p class="news-block--date">{{ current_date }}</p>
    <p class="news-block--title">Doors open</p>
    <p class="news-block--description">First day on the zoo!</p>
  </div>

  <div class="calendar-container">
    <h2>Calendar</h2>
    {{ calendar_html | safe }}
  </div>
</div>


<div id="linkToSearchBar" class="search-section">
  <div class="search-container">
    <form class="search-form" action="{{ url_for('search') }}" method="GET">
      <input type="text" class="search-input" name="search" id="search" placeholder="Search for an animal">
      <button class="search-btn" type="submit">Search</button>
    </form>
  </div>
</div>

{% block content %}

{% endblock %}

<h1 class="display-1 map-title--Style">Just want to see our animals?</h1>
<div class="icon-container">
  <div class="icon-wrapper">
    <img class="icon" src="{{url_for('static', filename='/images/icons/mammal-icon.png')}}"
      onclick="openGallery('mammals')">
    <h1 class="display-6 map-title--Style">Mammals</h1>
  </div>
  <div class="icon-wrapper">
    <img class="icon" src="{{url_for('static', filename='/images/icons/reptile-icon.png')}}"
      onclick="openGallery('reptiles')">
    <h1 class="display-6 map-title--Style">Reptiles</h1>
  </div>
  <div class="icon-wrapper">
    <img class="icon" src="{{url_for('static', filename='/images/icons/amphibian-icon.png')}}"
      onclick="openGallery('amphibians')">
    <h1 class="display-6 map-title--Style">Amphibians</h1>
  </div>
  <div class="icon-wrapper">
    <img class="icon" src="{{url_for('static', filename='/images/icons/bird-icon.png')}}"
      onclick="openGallery('birds')">
    <h1 class="display-6 map-title--Style">Birds</h1>
  </div>
</div>

<div id="gallery" class="gallery">
</div>

<div class="blog-section">
  <div class="section-content blog">

    <div class="title">
      <h2>blog & news</h2>
      <p>lorem ipsum.</p>
    </div>
    <div class="cards">
      <div class="card">
        <div class="image-section">
          <img src="{{url_for('static', filename='/images/homeTiger.jpg')}}">
        </div>
        <div class="article">
          <h4> title one</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.</p>
        </div>
        <div class="blog-view">
          <a href="" class="button">read more</a>
        </div>
        <div class="posted-date">
          <p>posted on jan 15 2021</p>
        </div>
      </div>
      <div class="card">
        <div class="image-section">
          <img src="{{url_for('static', filename='/images/homeTiger.jpg')}}">
        </div>
        <div class="article">
          <h4> title one</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.</p>
        </div>
        <div class="blog-view">
          <a href="" class="button">read more</a>
        </div>
        <div class="posted-date">
          <p>posted on jan 15 2021</p>
        </div>
      </div>
      <div class="card">
        <div class="image-section">
          <img src="{{url_for('static', filename='/images/homeTiger.jpg')}}">
        </div>
        <div class="article">
          <h4> title one</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.</p>
        </div>
        <div class="blog-view">
          <a href="" class="button">read more</a>
        </div>
        <div class="posted-date">
          <p>posted on jan 15 2021</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="linkToMapSection" class="map-section">
  <h1 class="display-1 map-title--Style"> Zoo map</h1>
  <div class="map-container">
    <img src="{{url_for('static', filename='/images/zooMap.jpg')}}" alt="Mapa del zoológico" class="map-image">
  </div>
</section>

<section id="testimonials">
  <div class="testimonial-heading">
    <span>Comments</span>
    <h1>Clients Says</h1>
  </div>
  <div class="testimonial-box-container">
    <div class="testimonial-box">
      <div class="box-top">
        <div class="pofile">
          <div class="profile-img">
            <img src="{{url_for('static', filename='/images/profilePics/Will-Smith.jpg')}}" />
          </div>
          <div class="name-user">
            <strong>alfred rosario</strong>
            <span>@asies</span>
          </div>
        </div>
        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
      </div>
      <div class="client-comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>
    </div>

    <div class="testimonial-box">
      <div class="box-top">
        <div class="pofile">
          <div class="profile-img">
            <img src="{{url_for('static', filename='/images/profilePics/Will-Smith.jpg')}}" />
          </div>
          <div class="name-user">
            <strong>alfred rosario</strong>
            <span>@asies</span>
          </div>
        </div>
        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
      </div>
      <div class="client-comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>
    </div>

    <div class="testimonial-box">
      <div class="box-top">
        <div class="pofile">
          <div class="profile-img">
            <img src="{{url_for('static', filename='/images/profilePics/Will-Smith.jpg')}}" />
          </div>
          <div class="name-user">
            <strong>alfred rosario</strong>
            <span>@asies</span>
          </div>
        </div>
        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
      </div>
      <div class="client-comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>
    </div>

    <div class="testimonial-box">
      <div class="box-top">
        <div class="pofile">
          <div class="profile-img">
            <img src="{{url_for('static', filename='/images/profilePics/Will-Smith.jpg')}}" />
          </div>
          <div class="name-user">
            <strong>alfred rosario</strong>
            <span>@asies</span>
          </div>
        </div>
        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
      </div>
      <div class="client-comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>
    </div>
    <div class="content-container">
      <div class="contact-form--style">
        <div class="container contact-form">
          <h1 class="text-center mb-4">
            Contact Us
            <span class="tooltip">
              <i class="far fa-star"></i>
              <span class="tooltip-message">Aquí puedes contactarnos para cualquier consulta o sugerencia.</span>
            </span>
          </h1>


          <form method="post" action="{{ url_for('send_email') }}">

            <label for="fname">Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Mail</label>
            <input type="email" id="lname" name="lastname" placeholder="johnDoe@example.com" required>

            <label for="country">Country:</label>
            <select id="country" name="country"></select>

            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

            <input type="submit" value="Submit">

          </form>
        </div>
      </div>



      <img id="myBtn" onclick="topFunction()" title="Go to top"
        src="{{url_for('static', filename='/images/icons/goUp-icon.png')}}">

      <div id="linkToAboutSection" class="about-section about-us-container flex-grow">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.
          Cras porttitor metus justo, ut efficitur velit ullamcorper auctor. Praesent commodo velit et ligula semper,
          vitae ullamcorper odio auctor.</p>
        <a href="#">Learn More</a>
      </div>
    </div>

    {% endblock %}