<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% block newsCalendar %}
<div class="news-calendar-container" style="margin-left: 35%;">
    <img src="{{url_for('static', filename='images/lion-event.png')}}" style="margin-right: 30%;">
    <div class="calendar-container floating-container">
      {{ calendarHtml | safe }}
    </div>
    <div class="news-block">
      <p class="news-block--date">{{ current_date }}</p>
      <p class="news-block--title">Schedule</p>
      <ul>
        <li>
          <p class="news-block--description">Meet the Keeper Sessions</p>
        </li>
        <li>
          <p class="news-block--description">Guided Animal Encounters</p>
        </li>
        <li>
          <p class="news-block--description">Behind-the-Scenes Tours</p>
        </li>
        <li>
          <p class="news-block--description">Night Safari Experience</p>
        </li>
        <li>
          <p class="news-block--description">Animal Feeding Demonstrations</p>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}